@import '../css/_variables.css';

body {
  background: pink;
}

.container {
  padding: var(--mobile-container-padding);
}

@media (min-width: var(--breakpoint-tablet)) {
  .container {
    padding: var(--desktop-container-padding);
  }
}
