/* Grundlæggende styles der gælder for begge knapper */
.buttonBase {
  font-family: var(--font-button);
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1; /* Sikrer at tekst og ikon flugter */
}

.large {
  background-color: var(--grey-1000);
  color: var(--primary-100);
  max-width: 150px;
  padding: var(--size-14) var(--size-24);
  font-size: var(--btn-semibold-16-size);
  font-weight: var(--btn-semibold-16-weight);
}

.large:hover {
  background-color: var(--grey-900);
}

.small {
  background-color: transparent;
  color: var(--grey-1000);
  border: 1px solid var(--grey-1000);
  padding: var(--size-10) var(--size-12);
  gap: var(--size-8);
  width: auto;
  font-size: var(--btn-semibold-16-size);
  font-weight: var(--btn-semibold-16-weight);
  margin-inline: auto;
}

.small:hover {
  background-color: var(--grey-100);
}

.small svg {
  display: block; /* Ikonet bruger allerede 'currentColor', så det bliver automatisk sort her */
}

@media (min-width: 768px) {
  .large {
    padding: var(--size-12) var(--size-20);
    font-size: var(--btn-semibold-14-size);
    max-width: 484px;
  }

  .small {
    font-size: var(--btn-semibold-14-size);
    margin-inline: 0;
  }
}

.disabled {
  pointer-events: none;
}
