/* Selve Draweren */
.drawer {
  position: fixed;
  top: var(--size-80);
  right: 0;
  width: 100%;
  height: calc(100vh - var(--size-80));
  background-color: var(--grey-50);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: var(--size-20);
  transform: translateX(0);
  animation: slideInRight 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: var(--font-body);
  overflow-y: auto;
}

.emptyMessage {
  text-align: center;
  padding: var(--size-20);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-20);
  border-bottom: 1px solid var(--grey-100);
  padding-bottom: var(--size-10);
}

.header h2 {
  font-family: var(--font-body);
  font-size: var(--body-bold-22-size);
  font-weight: var(--body-bold-22-weight);
  color: var(--grey-800);
}

.closeButton {
  background: none;
  border: none;
  font-size: var(--size-32);
  cursor: pointer;
  line-height: 1;
  color: var(--grey-900);
  transition: color 0.2s;
  padding: var(--size-8);
}
.closeButton:hover {
  color: var(--grey-1000);
}

/* Specifikt for Draweren: Listen skal kunne scrolle */
.itemsList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--size-20);
}

/* Specifikt for Draweren: Footer skal ligge i bunden */
.footer {
  border-top: 2px solid var(--grey-100);
  padding-top: var(--size-16);
  background-color: var(--grey-50);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .overlay {
    top: 0;
    height: 100vh;
  }

  .drawer {
    top: 0;
    height: 100vh;
    width: 500px;
  }
  /* Baggrundsoverlay */
  .overlay {
    position: fixed;
    top: var(--size-80);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--size-80));
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: fadeIn 0.2s ease-out;
    cursor: pointer;
  }
}
