.actionButton {
  width: 100%;
  padding: var(--size-16);
  font-family: var(--font-button);
  font-weight: var(--btn-bold-16-weight);
  font-size: var(--btn-bold-16-size);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-20);
}

/* Styling NÅR den er i 'drawer' */
.btnDrawer {
  background-color: var(--grey-1000);
  color: var(--grey-50);
}

.btnDrawer:hover {
  background-color: var(--grey-900);
}

/* Styling NÅR den er i 'checkout'*/
.btnCheckout {
  background-color: var(--grey-1000);
  color: var(--grey-50);
}

.btnCheckout:hover {
  background-color: var(--grey-900);
}
