.contactSection {
  background-color: var(--ekstra-100);
  padding: var(--mobile-container-padding);
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: var(--align-center);
  gap: var(--size-20);
}

.heading {
  grid-area: title;
  font-family: var(--font-heading);
  font-size: var(--h2-light-32-size);
  font-weight: var(--h2-light-32-weight);
  color: var(--grey-1000);
  margin: 0;
}

.text {
  grid-area: text;
  font-family: var(--font-body);
  font-size: var(--body-regular-14-size);
  font-weight: var(--body-regular-14-weight);
  line-height: 1.6;
  max-width: 400px;
  color: var(--grey-800);
  margin: 0;
}

.imageWrapper {
  grid-area: image;
  position: relative;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 3/4;
  background-color: var(--grey-200);
  margin: var(--size-12) 0;
}

.image {
  object-fit: cover;
}

.contactInfo {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
  align-items: center;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: var(--size-12);
  text-decoration: none;
  font-family: var(--font-body);
  color: var(--grey-800);
  font-size: var(--body-regular-18-size);
  font-weight: var(--body-regular-18-weight);
  transition: opacity 0.2s ease-in-out;
}

.contactLink:hover {
  opacity: 0.7;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

@media (min-width: 768px) {
  .contactSection {
    padding: var(--desktop-container-padding);
  }

  .inner {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-template-areas:
      'title image'
      'text  image'
      'info  image';

    align-items: start;
    text-align: var(--align-left);

    column-gap: var(--size-60);
    row-gap: var(--size-24);
  }
  .heading {
    font-size: var(--h2-light-60-size);
    font-weight: var(--h2-light-60-weight);
    align-self: end;
  }

  .text {
    max-width: 500px;
    font-size: var(--body-regular-28-size);
    font-weight: var(--body-regular-28-weight);
    line-height: 1.6;
  }

  .imageWrapper {
    max-width: 100%;
    height: 100%;
    margin: 0;
    aspect-ratio: auto;
    min-height: 400px;
  }

  .contactInfo {
    align-items: flex-start;
    margin-top: var(--size-16);
  }
}
