.hero {
  background-image: url('../../../public/mobile_backgrounds.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner {
  text-align: center;
  padding: var(--size-80) var(--size-24);
}

.button {
  margin: var(--size-24);
}

.cups {
  display: block;
  max-width: 80%;
  height: auto;
  margin-top: var(--size-50);
  margin-left: auto;
  margin-right: auto;
}

.p {
  font-size: var(--body-regular-12-size);
  font-weight: var(--body-light-12-weight);
  color: var(--grey-500);
  padding-top: var(--size-8);
}

@media (min-width: 768px) {
  .hero {
    background-image: url('../../../public/dekstop_backgrounds.webp');
  }

  .p {
    font-size: var(--body-regular-28-size);
    font-weight: var(--body-light-28-weight);
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
  }

  .button {
    margin: var(--size-50);
  }

  .cups {
    max-width: 40%;
  }
}
