.hero {
  background-image: url('../../../public/mobile_backgrounds.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.inner {
  text-align: center;
  padding: var(--size-80) var(--size-24) 0;
}

.button {
  margin: var(--size-50);
}

.cups {
  display: block;
  width: 100%;
  height: auto;
  margin-top: var(--size-50);
}

.p {
  font-size: var(--body-regular-12-size);
  font-weight: var(--body-light-12-weight);
  color: var(--grey-500);
}

@media (min-width: 768px) {
  .hero {
    background-image: url('../../../public/dekstop_backgrounds.webp');
  }

  .p {
    font-size: var(--body-regular-28-size);
    font-weight: var(--body-light-28-weight);
  }

  .cups {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
