.imageTextCTA {
  background-color: var(--grey-50);
  padding: 0; /* overskriver padding på denne sektion */
}

.imageTextCTAImage {
  height: 100%;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.imageTextCTAContent {
  padding: var(--mobile-container-padding);
}

.imageTextCTATitle {
  font-size: var(--body-bold-22-size);
  font-weight: var(--body-bold-22-weight);
  font-family: var(--font-body);
}

.imageTextCTASubtitle {
  font-size: var(--body-regular-16-size);
  font-weight: var(--body-regular-16-weight);
  font-family: var(--font-body);
  color: var(--grey-500);
  margin-top: var(--size-10);
}

/* STATS */
.imageTextCTAStats {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-12);
}

/* én række */
.statRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--grey-200);
}

.statText {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.statIcon :global(img) {
  display: block;
}

.imageTextCTAStats h4 {
  font-family: var(--font-body);
  font-size: var(--body-regular-32-size);
  font-weight: var(--body-regular-32-weight);
  text-align: left;
}

.imageTextCTAStats p {
  font-family: var(--font-body);
  font-size: var(--body-light-12-size);
  font-weight: var(--body-light-12-weight);
  color: var(--grey-500);
}

.button {
  margin-top: var(--size-30);
}

@media (min-width: 768px) {
  .imageTextCTA {
    padding: var(--desktop-container-padding);
    text-align: left;
  }

  .imageTextCTAInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--size-80);
  }

  .imageTextCTAImage {
    grid-column: 1;
    height: 100%;
    width: 300px;
    max-height: 550px;
    max-width: 500px;
    object-fit: cover;
  }

  .imageTextCTAContent {
    grid-column: 2;
    padding-left: 0;
  }

  @media (min-width: 1000px) {
    .imageTextCTAImage {
      width: 400px;
      height: auto;
      max-width: 600px;
      max-height: 600px;
    }
  }
}
