.navbar {
  height: var(--size-80);
  padding: var(--size-20) var(--size-30) var(--size-8) var(--size-30);
  background-color: var(--grey-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  height: 52px;
  width: 55px;
  object-fit: contain;
}

/* Højre del af navbaren (burgermenu+kurv) */
.rightSection {
  display: flex;
  align-items: center;
  gap: var(--size-18);
}

/*Cart ikonet*/
.icon {
  text-decoration: none; /*Ikonet står inde i et Link*/
  cursor: pointer;
  display: flex;
}

.cart {
  position: relative; /* VIGTIGT: Gør at draweren placeres i forhold til dette ikon */
  display: flex;
  align-items: center;
  height: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
}

.bar {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--grey-800);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

/* Animation fra burgermenu -> X'et */
/* Øverste streg: Roter, flyt og gør stregen kortere */
.hamburger.active .bar:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(45deg) scaleX(0.75);
}

/* Midterste streg: forsvinder */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

/* Nederste streg: Roter, flyt og gør stregen kortere */
.hamburger.active .bar:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(-45deg) scaleX(0.75);
}

.navLinks {
  position: absolute;
  top: var(--size-80);
  left: 0; /* Sørger for at hele bredden bliver brugt*/
  width: 100%;
  background-color: var(--grey-50); /* Matche navbar baggrund */
  display: none;
  flex-direction: column;
  align-items: center;
  list-style: none;
  z-index: 10;
}

/* Vis menuen når åben */
.navLinks.open {
  display: flex;
}

/*Divider til at adskille links i dropdown-menuen */
.divider {
  border: 0;
  border-top: 1px solid var(--grey-300);
  margin: var(--size-8) var(--size-30) var(--size-8) var(--size-30);
  height: 1px;
}
.navLinks li:first-child .divider {
  margin-top: 0;
  border-top: 2px solid var(--grey-300);
}

.navLinks li {
  width: 100%;
  text-align: center;
  font-family: var(--font-body);
  font-size: var(--body-regular-14-size);
  font-weight: var(--body-regular-14-weight);
  color: var(--grey-500);
}

.navLinks li:last-child {
  margin-bottom: var(--size-12);
}

.link,
.active {
  display: block;
  text-decoration: none;
  color: var(--grey-500);
}

.active {
  color: var(--grey-1000);
  font-weight: var(--weight-bold);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .divider {
    display: none;
  }

  .logo {
    width: 93px;
    height: 87px;
  }

  .leftSection {
    margin-left: var(--size-120);
  }

  .navbar {
    padding: 0;
    height: 127px;
  }

  /* 2. Links sektion */
  .navLinks {
    display: flex;
    flex-direction: row;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrerer både vertikalt og horisontalt */
    gap: var(--size-35);
  }

  .navLinks li {
    font-size: var(--body-18-regular-size);
  }

  .navLinks li:last-child {
    margin-bottom: 0;
  }

  /* Tekst styling */
  .link,
  .active {
    color: var(--grey-500);
    transition: color 0.2s ease;
  }

  .active {
    color: var(--grey-1000);
  }

  .icon {
    display: flex;
    align-items: center;
    margin-right: var(--size-120);
  }
}
