.background {
  background-color: var(--ekstra-100);
}

.icon {
  padding-top: var(--size-20);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 96px;
  height: auto;
}

.valuesWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
}

.sectionTitle {
  font-family: var(--font-heading);
  font-weight: var(--weight-light);
  font-size: var(--h2-light-32-size);
  color: var(--grey-1000);
  text-align: var(--align-center);
}

.valueCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-12);
  text-align: center;
}

.valueTitle {
  font-weight: var(--body-bold-20-weight);
  font-family: var(--font-body);
  font-size: var(--body-bold-20-size);
}

.valueDescription {
  font-family: var(--font-body);
  font-weight: var(--body-regular-18-weight);
  font-size: var(--body-regular-18-size);
  color: var(--grey-600);
}

@media (min-width: 768px) {
  .sectionTitle {
    font-weight: var(--weight-light);
    font-size: var(--h2-light-60-size);
    margin-bottom: var(--size-50);
  }

  .valuesWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--size-48);
  }
  .valueCard {
    flex: 1;
  }
}
