.container {
  display: flex;
  width: 100%;
  gap: var(--size-12);
  flex-direction: row;
  align-items: flex-start;
}

.stepperWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
  flex-shrink: 0;
}

.stockText {
  font-family: var(--font-body);
  font-size: var(--body-light-12-size);
  font-weight: var(--weight-light);
  color: var(--grey-600);
  margin: 0;
  white-space: nowrap;
}

.buttonWrapper {
  flex: 1;
  display: flex;
}

.buttonWrapper > * {
  width: 100%;
  height: var(--size-48);
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: var(--size-36);
  }

  .stepperWrapper {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .buttonWrapper {
    width: 100%;
    flex: auto;
  }

  .stockText {
    font-size: var(--body-regular-14-size);
  }
}
