.grid {
  display: none;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: var(--size-32);
    margin-top: var(--size-32);
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
